*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}
p{
    
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    
}
.container{
    width: 80%;
    margin: auto;
}
.contact-btn{
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #F6EDD9;
    font-weight: bold;
}
nav{
    padding: 16px;
    display: flex;
    background-color: #006837;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 99999;
    .logo{
        color: white;
        display: flex;
        align-items: center;
        .logo-h{
            height: 10vh;
            margin-right: 10px;
        }
        .logo-v{
            display: none;
        }
        p{
            font-size: 16px;
            font-weight: bold;
        }
    }
    .nav-links{
        display: flex;
        width: 60%;
        justify-content: space-around;
        align-items: center;
        list-style: none;
       
        a{
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;

        }
        .active{
            border-bottom: 2px solid white;
        }

    }
    .burger{
        display: none;
        div{
            margin: 8px 0px;
            border-radius: 5px;
            width: 35px;
            height: 3px;
            background: white;
        }
    }
}
.section{
    height: 1000px;
    width: 100%;
  }
  
.hero{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    background: url(./assets/BS-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .container{
        color: #006837;
        padding: 10% 0%;

        h1{
            font-size: 48px;
            width: 60%;
            font-weight: 800;
            letter-spacing: 1px;
        }
        p{
            width: 50%;
            line-height: 150%;
            text-align: justify;
            font-size: 14px;
            margin-bottom: 24px;
        }
        .proof{
            margin-top: 36px;
        }
        .client-wrapper{
            margin-top: 100px;
    
            h4{
                margin-bottom: 8px;
            }
            .clients{
                border-top: #006837 2px solid;
                padding-top: 32px;
                display: flex;
                width: 70%;
                
                align-items: center;
                justify-content: space-between;
                

                .client{
                    height: 50px;
                    
                    img{
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    
    .hero-date{
        font-family: 'Montserrat', sans-serif;
    }
}
.about-us{
    background-color: #D7F0DB;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow-x: hidden;
    .content{
        width: 60%;
        padding: 10% 0%;
        h1{
            font-size: 72px;
            margin-bottom: 16px;
            font-weight: 800;
            letter-spacing: 1px;  
            color: #006837;
        }
        p{
            font-family: poppins;
            text-align: justify;
        }
    }
    .image{
        height: 850px;
        overflow: hidden;
        width: 40%;
        background: pink;
       img{
        height: 100%;
        width: 100%;
        object-fit: cover;
       }
    }
}
.vision{
    padding: 48px 0px;
    img{
        width: 100%;
        border-radius: 8px;
    }
    .vis-mis{
        display: flex;
        align-items: start;
        .vis{
            padding: 16px;
            flex: 1;
            h1{
                font-size: 72px;
               
                font-weight: 800;
                letter-spacing: 1px;  
                color: #006837;
            }
            p{
                font-family: poppins;
                
            }
        }
    }

}
.management{
    background-color: #EBEBF5;
    padding: 48px 0px;
    h1{
        font-size: 48px;
        margin-bottom: 16px;
        font-weight: 800;
        letter-spacing: 1px;  
        color: #67679b;
    }
    .team-member{
        display: flex;
        align-items: center;
        padding: 32px 0px;
        border-bottom: #9999cc1d 2px solid;
        .m-image{
            padding: 16px;
           display: flex;
           flex-direction: column;
            img{
                background-color: #9999CC;
                border-radius: 16px;
            }
            a{
                display: block;
                width: 100%;
                text-decoration: none;
            }
            .linkedin-btn{
                margin-top: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-color: #9999CC;
                padding: 8px 16px;
                color: white;
                border-radius: 8px;
                font-weight: 700;
                i{
                    font-size: 24px;
                    margin-right: 8px;
                }
            }
        }
        .m-info{
            padding: 16px;
            h3{
                font-size: 36px;
               margin-bottom: 16px;
                font-weight: 800;
                letter-spacing: 1px;  
             
            }
            p{
                font-family: poppins;
                
            }
           
        }
        

    }

}

.brand-story{
   
    padding: 48px 0px;
    h1{
        font-size: 72px;
       
        font-weight: 800;
        letter-spacing: 1px;  
        color: #006837;
    }
    p{
        font-family: poppins;
        
    }
    .mockups{
        margin-top: 10px;
       overflow: hidden;
       position: relative;
       #myVideo{
        width: 100%;
       }
       .btn-wrapper{
        width: 100%;
        padding: 20px;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 10;
        background-color: #222222;
            button{
                padding: 8px 20px;
                border: none;
                outline: none;
                border-radius: 8px;
                font-family: poppins;
                font-weight: 800;
            }
       }
        
    }

}


.partners{
    padding: 48px 0px;
    .profiles{
        margin: 10px 0px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
        .profile{
            padding: 16px;
            width: 100%;
          
            img{
                height: 50px;
            }
            p{
                margin-top: 16px;
                font-family: poppins;
                
            }
        }
        .p1{
            background-color: #FFD1CF;
            
        }
        .p2{
            background-color: #FFC8AD;
        }
        .p3{
            background-color: #EBEBF5;
        }
        .p4{
            background-color: #d1ffd4;
        }
    }
    .value-add{
        margin-top: 32px;
        
        h1{
            font-size: 72px;
            margin-bottom: 16px;
            font-weight: 800;
            letter-spacing: 1px;  
            color: #006837;
        }
        .value-wrapper{
            display: flex;
            .info{
                width: 60%;
                padding: 16px;
            }
            .value-img{
                width: 40%;
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }
}

.why{
    padding: 48px 0px;
    h1{
        font-size: 72px;
        margin-bottom: 16px;
        font-weight: 800;
        letter-spacing: 1px;  
        color: #006837;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 16px;
        div {
            padding: 48px 16px;
            background-color: rgba(255, 255, 255, 0.8);
           
            text-align: center;
            
    
            h3{
                font-size: 16px;
                font-family: poppins;
            }
            img{
                object-fit: contain;
                height: 80px;
                width: 80px;
            }
            p{
                font-size: 14px;
            }
          }
      }
      
      
}

.contact{
    background-color: #D7F0DB;
    padding: 100px 0px;
    h1{
        font-size: 72px;
        font-weight: 900;
        color: #006837;
    }
   .contact-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
    margin-top: 16px;

    .contact-card{
        display: flex;
        align-items: center;
        padding: 16px;
        border-right: #006837 2px solid;
        .con-image{
            width: 30%;
            padding: 16px;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                background-color: #F6EDD9;
            }
        }
        .con-info{
            padding-left: 8px;
            a{
                color: #006837;
                font-size: 16px;
                font-weight: 800;
            }
        }
    }
   }
   .whatsapp{
    margin-top: 16px;
    padding-top: 16px;
    border-top: #006837 2px solid;
    display: flex;
    align-items: center;
    .whatsapp-img{
        height: 100px;
        width: 100px;
        margin-right: 18px;
        img{
            width: 100%;
        }
    }
    .number{
        h1{
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            line-height: 64px;
            font-size: 48px;
        }
        p{
            font-size: 16px;
            margin-left: 8px;
            color: #006837;
            font-weight: 600;
        }
    }
   }
  
}
.footer{
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    p{
        color: #fff;
        font-size: 16px;
    }
}


@media screen and (max-width: 991px) {
    body{
        overflow-x: hidden;
    }
    nav{
        position: relative;
        position: fixed;
        background: #006837;
        height: 10vh;
        z-index: 1;
        
        .logo{
            p{
                display: none;
            }
            .logo-h{
                display: none;
            }
            .logo-v{
                display: block;
                height: 10vh;
                margin-right: 10px;
            }
        }
        .nav-links{
            display: none;
            background: #006837;
            position: absolute;
            right: 0px;
            top: 8vh;
            width: 50%;
            height: 92vh;
            flex-direction: column;
            transform: translateX(100%);
            transition: all 0.5s ease;
            
            li{
                opacity: 0;
            }
        }
        .nav-active{
            transform: translateX(0%);
            display: flex;
        }
        
        .burger{
            display: block;
            cursor: pointer;
            div{
                transition: all 0.5s ease;
            }
        }
        @keyframes navlinksFade {
            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .toggle .line1{
            transform: rotate(-45deg) translate(-5px,10px);
        }
        .toggle .line2{
            opacity: 0;
        }
        .toggle .line3{
            transform: rotate(45deg) translate(-5px,-10px);
        }
        
        
      
    }
    .container{
        width: 95%;
    }
    .hero{
        height: 100vh;
        min-height: 100%;
        padding-top: 20%;
        .container{
            width: 95%;

            h1{
                font-size: 32px;
                width: 100%;
            }
            p{
                margin-top: 20px;
                font-size: 14px;
                width: 100%;
            }
            .client-wrapper{
                margin-top: 100px;
    
                h4{
                    margin-bottom: 8px;
                }
                .clients{
                    border-top: #006837 2px solid;
                    padding-top: 32px;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .client{
                        padding: 8px;
                    }
                }
            }
        }
    }
    .about-us{
        background-color: #D7F0DB;
        display: block;
        align-items: center;
        justify-content: space-between;
    
        .content{
            width: 100%;
            padding-top: 32px;
            h1{
                font-size: 32px;
                margin-bottom: 16px;
                font-weight: 800;
                letter-spacing: 1px;  
                color: #006837;
            }
            p{
                font-family: poppins;
                text-align: justify;
            }
        }
        .image{
            margin-top: 16px;
            width: 100%;
            height: 50vh;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover ;
                object-position: center;
            }
        }
    }
    .vision{
        padding: 48px 0px;
        img{
            width: 100%;
            border-radius: 4px;
           
        }
        .vis-mis{
            display: flex;
            flex-direction: column;
            align-items: start;
            .vis{
                padding: 16px;
             
       
                h1{
                    font-size: 32px;
              
                    font-weight: 800;
                    letter-spacing: 1px;  
                    color: #006837;
                }
                p{
                    font-family: poppins;
                    text-align: justify;
                }
            }
        }
    
    }
    .brand-story{
   
        padding: 48px 0px;
        h1{
            font-size: 48px;
           
            font-weight: 800;
            letter-spacing: 1px;  
            color: #006837;
        }
        p{
            font-family: poppins;
            
        }
        .mockups{
            margin-top: 10px;
           overflow: hidden;
           position: relative;
           #myVideo{
            width: 100%;
           }
           .btn-wrapper{
            width: 100%;
            padding:10px;
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: 10;
            background-color: #222222;
                button{
                    padding: 8px 20px;
                    border: none;
                    outline: none;
                    border-radius: 8px;
                    font-family: poppins;
                    font-weight: 800;
                }
           }
            
        }
    }
    .management{
        background-color: #EBEBF5;
        padding: 32px 0px;
        h1{
            font-size: 48px;
            margin-bottom: 16px;
            font-weight: 800;
            letter-spacing: 1px;  
            color: #67679b;
        }
        .team-member{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 0px;
            border-bottom: #9999cc1d 2px solid;
            .m-image{
                padding: 16px;
                padding: 16px;
               display: flex;
               flex-direction: column;
                img{
                    background-color: #9999CC;
                    border-radius: 16px;
                    width: 100%;
                }
                a{
                    display: block;
                    width: 100%;
                    text-decoration: none;
                }
                .linkedin-btn{
                    margin-top: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    background-color: #9999CC;
                    padding: 8px 16px;
                    color: white;
                    border-radius: 8px;
                    font-weight: 700;
                    i{
                        font-size: 24px;
                        margin-right: 8px;
                    }
                    p{
                        font-size: 12px;
                       
                    }
                }
            }
            .m-info{
                padding: 16px;
                h3{
                    font-size: 24px;
                   margin-bottom: 16px;
                    font-weight: 800;
                    letter-spacing: 1px;  
                 
                }
                p{
                    font-family: poppins;
                    text-align: justify;
                }
               
            }
            
    
        }
    
    }
    .partners{
        padding: 48px 0px;
        .profiles{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            margin: 16px 0px;
            .profile{
                padding: 16px;
                width: 100%;
                margin: 8px;
                p{
                    margin-top: 16px;
                    font-family: poppins;
                    
                }
            }
            .p1{
                background-color: #FFD1CF;
                
            }
            .p2{
                background-color: #FFC8AD;
            }
            .p3{
                background-color: #EBEBF5;
            }
        }
        .value-add{
            margin-top: 32px;
            
            h1{
                font-size: 48px;
                margin-bottom: 16px;
                font-weight: 800;
                letter-spacing: 1px;  
                color: #006837;
            }
            .value-wrapper{
                display: flex;
                flex-direction: column;
                .info{
                    width: 100%;
                    padding: 16px;
                }
                .value-img{
                    width: 100%;
                    img{
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .why{
        padding: 48px 0px;
        h1{
            font-size: 48px;
            margin-bottom: 16px;
            font-weight: 800;
            letter-spacing: 1px;  
            color: #006837;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto ;
            gap: 16px;
            div {
                padding: 48px 16px;
                background-color: rgba(255, 255, 255, 0.8);
               
                text-align: center;
                
        
                h3{
                    font-size: 16px;
                    font-family: poppins;
                }
                img{
                    object-fit: contain;
                    height: 80px;
                    width: 80px;
                }
                p{
                    font-size: 14px;
                }
              }
          }
          
          
    }

    .contact{
        background-color: #D7F0DB;
        padding: 48px 0px;
        h1{
            font-size: 48px;
            font-weight: 900;
            color: #006837;
        }
       .contact-wrapper{
        display: grid;
        grid-template-columns: auto;
        gap: 16px;
        margin-top: 16px;
    
        .contact-card{
            display: flex;
            align-items: center;
            padding: 16px;
            border-right: 0px;
            border-bottom: #006837 2px solid;
            .con-image{
                width: 30%;
                padding: 16px;
                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                    background-color: #F6EDD9;
                }
            }
            .con-info{
                padding-left: 8px;
                a{
                    color: #006837;
                    font-size: 16px;
                    font-weight: 800;
                }
            }
        }
       }
       .whatsapp{
        margin-top: 16px;
        padding-top: 16px;
        border-top: #006837 0px solid;
        display: flex;
        align-items: center;
        .whatsapp-img{
            height: 100px;
            width: 100px;
            margin-right: 18px;
            img{
                width: 100%;
            }
        }
        .number{
            h1{
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                line-height: 34px;
                font-size: 32px;
            }
            p{
                font-size: 16px;
                margin-left: 8px;
                color: #006837;
                font-weight: 600;
            }
        }
       }
      
    }
    
}